.App {
  font-family: sans-serif;
  text-align: center;
  width: 500px;
  margin: auto;
}

.You,
.Computer {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
